.app {
    margin-top: $header-height;

    &__container {
        --navigation-width: 60px;
        @include respond-to(tablet, desktop) {
            --navigation-width: 200px;
        }

        display: grid;
        grid-template-columns: var(--navigation-width) 1fr;
        grid-template-areas: "navigation router-outlet";
    }
}