@import "variables";
@import "mixins";
@import "input";
@import "app";
@import "header";
@import "navigation";
@import "match";
@import "match-team";
@import "match-player";
@import "router-outlet";

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: $alt-color;
}

a {
    text-decoration: none;
    color: inherit;
}