.match-team {
    display: grid;
    grid-template-areas: "top top" "middle-left middle-right";

    &__team {
        grid-area: top;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
}