.match-player {
    text-align: center;

    &__player {
        width: 200px;
        margin: $spacing-medium auto;
        border: 3px solid lighten($alt-color, 10%);

        &-image {
            padding: 25px;
        }
    }

    &__select {
        width: 100%;
        border: none;
        border-top: 3px solid lighten($alt-color, 10%);
    }
}