.match-details-player {
    text-align: center;

    &__frame {
        height: 50px;
        width: 50px;
        line-height: 50px;
        margin: $spacing-medium auto;
        border: 3px solid $alt-color;
        text-align: center;
    }
}