.match-score-input {
    display: flex;

    &__radio {
        --background-color: #{$alt-color};
        --color: #{$alt-text-color};

        &_active {
            --background-color: #{$primary-color};
            --color: #{$text-color};
        }

        flex: 1;
        color: var(--color);
        background-color: var(--background-color);
        margin: 0 $spacing-small;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &-label {
            display: block;
            padding: $spacing-small;
            text-align: center;
            cursor: pointer;
        }

        &-input {
            position: absolute;
            left: -9999px;
        }
    }
}