.navigation {
    grid-area: navigation;
    height: calc(100vh - #{$header-height});
    background-color: lighten($alt-color, 10%);

    &__link {
        --display-text: none;
        --text-color: #{$alt-text-color};
        --svg-size: 50px;
        --padding: #{$spacing-small};

        @include respond-to(tablet, desktop) {
            --display-text: block;
            --svg-size: 25px;
            --padding: #{$spacing-medium};
        }

        &:hover,
        &_active {
            --text-color: #{$primary-color};
            --background-color: lighten($alt-color, 5%);
        }

        display: flex;
        align-items: center;
        padding: var(--padding);
        background-color: var(--background-color);
        width: 100%;

        &-svg {
            width: var(--svg-size);
            height: var(--svg-size);
            fill: var(--text-color);
        }

        &-text {
            display: var(--display-text);
            color: var(--text-color);
            margin-left: $spacing-medium;
        }
    }
}